body {
  display: flex;
  box-sizing: border-box;
  margin: 0px;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  width: 100%;
}

.section {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1 0 1;
  padding: 10px;
  min-height: 100vh;
}

.library {
  background-color: white;
  color: black;
}

.menu {
  background-color: gray;
  color: white;
}

.heading {
  font-weight: 800;
}

::backdrop {
  background-color: black;
  opacity: 0.75;
}

.book {
  color: black;
  background-color: ghostwhite;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-color: black black black lightblue;
  border-style: solid;
  border-width: 1px 1px 1px 4px;
  box-shadow: 1px 1px 5px rgb(211, 211, 211);
}

.title {
  font-weight: 800;
  font-size: large;
}

/* .delete {
  background-color: green;
  border: none;
  border-radius: 5px;
} */

dialog:open {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

input {
  border-color: rgb(118, 118, 118);
  border-width: 1px;
}

input:invalid {
  border-color: red;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.form-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 5px;
}

.addButton,
.listBooksButton,
.updateDisplayButton,
.deleteAllBooksButton,
.addSampleBooksButton,
.saveButton,
.cancelButton,
.delete {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 2px;
}

.addButton:hover,
.listBooksButton:hover,
.updateDisplayButton:hover,
.deleteAllBooksButton:hover,
.addSampleBooksButton:hover,
.saveButton:hover,
.cancelButton:hover,
.delete:hover {
  background-color: lightblue;
}
